---
layout: layout
---
<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align:center;">
      <div class="avatar">
    	   <img class="rounded-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" style="max-width: 70%; height: auto;">
    	   <!-- <img class="rounded-circle" src="https://github.com/ZhiningLiu1998/self-paced-ensemble/blob/master/pic/framework.png" alt="Responsive image" style="max-width: 70%; height: auto;"> -->
      </div>
      <h5>Zhi-ning Liu</h5>
      {% include social.html %}
    </div>
    <div class="col-md-9">
      {% include topbar.html %}
      <h1><strong>Hi! I'm Zhi-ning Liu (刘芷宁)</strong></h1>
      <p> 
        I am a 1st-year graduate student at 
        <a href="http://sai.jlu.edu.cn/">School of Artificial Intelligence</a> at 
        <a href="https://jlu.edu.cn/">Jilin University</a>, supervised by 
        <a href="http://yichang-cs.com/"> Dr. Yi Chang</a>.
        Before that, I obtained my bachelor's degree in Computer Science with high honor from Jilin University in 2019.
        My recent research interests include Imbalance Learning, Reinforcement Learning, and Meta Learning.
      <p>
      
      <h4><font color="black">Contact me via:</font></h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          Mail: <a href="mailto:{{ site.email }}">zhining.liu@outlook.com</a> or 
                <a href="mailto:liuzn2115@mails.jlu.edu.cn">liuzn2115@mails.jlu.edu.cn</a><br>
          Wechat: HOMEWORLD-
          </p>
        </div>

      <h4><font color="red">What's new</font></h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          [07/2019] Received my B.S. degree!<br>
          </p>
        </div>

      <h4><font color="black">Experience</font></h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          <i>Research Intern, Machine Learning Group,</i> <a href="https://msra.cn">Microsoft Research Asia</a>. Sept. 2018 to June 2019. <br>
          <i>Research Assistant, Laboratory of Cybernetic Intelligence,</i> Jilin University. May 2017 to June 2018.<br>
          </p>
        </div>

      <h4><font color="black">Pulications</font></h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
            <strong>Zhining Liu</strong>, Wei Cao, Zhifeng Gao, Jiang Bian, Hechang Chen, Yi Chang and Tie-Yan Liu, <br>
            "Training Effective Ensemble on Imbalanced Data by Self-paced Harmonizing Classification Hardness", 
            arXiv preprint, 2019.<br>
          </p>
        </div>

      <h4><font color="black">Awards & Scholarships</font></h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          <i>Undergraduate Research Scholarship</i> (20/400, ¥5,000 RMB) by Jilin University. 2018.<br>
          <i>Outstanding Student Project Scholarship</i> (2/84, ¥5,000 RMB) by Jilin University. 2018.<br>
          <i>Student Scholarship, Second Prize</i> (top 10%, ¥1,000 RMB) by Jilin University. 2018.<br>
          <i>Undergraduate Student Project Funding</i> (¥10,000 RMB) by Ministry of Education. 2018.<br>
          <i>National Endeavor Fellowship</i> (top 5%, ¥5,000 RMB) by Ministry of Education. 2017.<br>
          <i>The Individual Scholarship</i> (for student achievement) by Jilin University. 2017 and 2018.<br>
          <i>Excellent Student Leader Award</i> (for student service) by Jilin University. 2016 and 2017.<br>
          </p>
        </div>

    </div>
  </div>
</div>
