---
layout: layout
---
<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align:center;">
      <div class="avatar">
    	   <img class="rounded-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" style="max-width: 70%; height: auto;">
      </div>
      <h5>Zhi-ning Liu</h5>
      {% include social.html %}
      <br>
      <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=300&t=tt&d=s7da3uibCWrEACtenkU2Dnw2AuuAP4rk7LBtrM3J70k&co=ecf5ff&ct=009cff&cmo=3acc3a&cmn=ff5353'></script>
    </div>
    <div class="col-md-9">
      {% include topbar.html %}
      <h1><strong>Hi! I'm Zhi-ning Liu (刘芷宁)</strong></h1>
      <p> 
        I am a 1st-year graduate student at 
        <a href="http://sai.jlu.edu.cn/">School of Artificial Intelligence</a> at 
        <a href="https://jlu.edu.cn/">Jilin University</a>, supervised by 
        <a href="http://yichang-cs.com/"> Dr. Yi Chang</a>.
        Before that, I obtained my bachelor's degree in Computer Science with high honor from Jilin University in 2019.
        My recent research interests include Reinforcement Learning, Meta Learning, and Imbalance Learning.
      <p>
      
      <h4>Contact me via:</h4>
        <div style="line-height: 1.5em; font-size: 0.7em;">
          <p>
          <i class="fa fa-envelope"></i> Mail: 
            <a href="mailto:{{ site.email }}">zhining.liu(AT)outlook.com</a> or 
            <a href="mailto:znliu19@mails.jlu.edu.cn">znliu19(AT)mails.jlu.edu.cn</a><br>
          <i class="fa fa-phone"></i> Mobile: +86 176-1010-6607<br>
          <i class="fab fa-weixin"></i> Wechat: HOMEWORLD- 
          </p>
        </div>

      <h4 style="color: red;">What's new</h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          <!-- [09/2019] My colleague Boyang Yu will was elected as the class monitor of JLUSAI!!!<br> -->
          <!-- [09/2019] My colleague Zhepei Wei will serve as on of the general chairs of AAAI 2021!!!<br> -->
          [10/2019] Our work on imbalanced classification was accepted by <a href="https://www.utdallas.edu/icde/">ICDE 2020</a>!<br>
          [07/2019] Received my B.S. degree!<br>
          </p>
        </div>

      <h4>Experience</h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          <i>Research Intern, Machine Learning Group,</i> <a href="https://msra.cn">Microsoft Research Asia</a>. Sept. 2018 to Jun. 2019. <br>
          <i>Research Assistant, Laboratory of Cybernetic Intelligence,</i> Jilin University. May 2017 to Jun. 2018.<br>
          </p>
        </div>

      <h4>Pulication</h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
            <strong>Zhining Liu</strong>, Wei Cao, Zhifeng Gao, Jiang Bian, Hechang Chen, Yi Chang and Tie-Yan Liu, 
            "Self-paced Ensemble for Highly Imbalanced Massive Data Classification", 
            In 36th International Conference on Data Engineering (ICDE'20).
            [<a href="https://arxiv.org/abs/1909.03500">PDF</a>] 
            [<a href="https://github.com/ZhiningLiu1998/self-paced-ensemble">Code</a>]<br>
          </p>
        </div>

      <h4>Awards & Scholarships</h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          <i>Undergraduate Research Scholarship</i> (20/400, ¥5,000 RMB) by Jilin University. 2018.<br>
          <i>Outstanding Student Project Scholarship</i> (2/84, ¥5,000 RMB) by Jilin University. 2018.<br>
          <i>Student Scholarship, Second Prize</i> (top 10%, ¥1,000 RMB) by Jilin University. 2018.<br>
          <i>Undergraduate Student Project Funding</i> (¥10,000 RMB) by Ministry of Education. 2018.<br>
          <i>National Endeavor Fellowship</i> (top 5%, ¥5,000 RMB) by Ministry of Education. 2017.<br>
          <i>The Individual Scholarship</i> (for student achievement) by Jilin University. 2017 and 2018.<br>
          <i>Excellent Student Leader Award</i> (for student service) by Jilin University. 2016 and 2017.<br>
          </p>
        </div>

      <h4>Latest Article</h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
            <a href="https://zhuanlan.zhihu.com/p/66373943">Classification problem under extreme class imbalance: an overview (Chinese)</a><br>
          </p>
        </div>
        
    </div>
  </div>
</div>
