---
layout: layout
---
<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align:center;">
      <div class="avatar">
    	   <img class="rounded-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" style="max-width: 70%; height: auto;">
      </div>
      <h5>Zhi-ning Liu</h5>
      {% include social.html %}
      <br>
      <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=tt&d=s7da3uibCWrEACtenkU2Dnw2AuuAP4rk7LBtrM3J70k&co=2c3e50"></script>
    </div>
    <div class="col-md-9">
      {% include topbar.html %}
      <h1><strong>Hi! I'm Zhi-ning LIU (刘芷宁).</strong></h1>
      <p> 
        I am a 2nd-year M.Sc. student at 
        <a href="http://sai.jlu.edu.cn/">School of Artificial Intelligence</a> at 
        <a href="https://jlu.edu.cn/">Jilin University</a>, supervised by 
        <a href="http://yichang-cs.com/"> Dr. Yi CHANG</a>.
        Before that, I obtained my B.Sc. degree in Computer Science with high honor from Jilin University in 2019.
        My recent research interests include Imbalanced Learning, Transfer Learning, and Applied Machine Learning.
      <p>
      
      <h4><b>Contact me via:</b></h4>
        <div style="line-height: 1.5em; font-size: 0.7em;">
          <p>
          <i class="fa fa-envelope"></i> Mail: 
            <a href="mailto:{{ site.email }}">zhining.liu(AT)outlook.com</a> or 
            <a href="mailto:znliu19@mails.jlu.edu.cn">znliu19(AT)mails.jlu.edu.cn</a><br>
          <i class="fa fa-phone"></i> Mobile: +86 176-1010-6607<br>
          <!-- <i class="fab fa-weixin"></i> Wechat: ZhiningLiuCS -->
          </p>
        </div>

      <h4 style="color: #f1828d;"><b>What's new</b></h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          <!-- [09/2019] My colleague Boyang Yu will was elected as the class monitor of JLUSAI!!!<br> -->
          <!-- [09/2019] My colleague Zhepei Wei will serve as on of the general chairs of AAAI 2021!!!<br> -->
          [10/2020] Our work on meta imbalanced learning was accepted by <a href="https://neurips.cc/Conferences/2020/">NeurIPS 2020</a>!<br>
          [06/2020] I am helping to organize <a href="https://sigir.org/sigir2020/">ACM SIGIR 2020</a>. Welcome!<br>
          [10/2019] Our work on imbalanced classification was accepted by <a href="https://www.utdallas.edu/icde/">IEEE ICDE 2020</a>!<br>
          [07/2019] I received my B.Sc. degree from the Tang Aoqing Honors Program in Science.<br>
          [09/2018] I will intern at MSRA in the following year, supervised by <a href="https://scholar.google.com/citations?user=pZBEnY8AAAAJ&hl=zh-CN">Dr. Jiang BIAN</a> and <a href="https://weicao1990.github.io/">Dr. Wei CAO</a>.<br>
          </p>
        </div>

      <h4><b>Research Experience</b></h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          <i>Research Intern, Machine Learning Group,</i> <a href="https://msra.cn">Microsoft Research Asia</a>. Sept. 2018 to Jun. 2019. <br>
          <i>Undergraduate Research Assistant, Laboratory of Cybernetic Intelligence,</i> Jilin University. May 2017 to Jun. 2018.<br>
          </p>
        </div>

      <h4><b>Publications</b></h4>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
            1. <u>Zhining Liu</u>, 
            <a href="https://scholar.google.com/citations?hl=en&user=a94WthkAAAAJ"> Pengfei Wei</a>, 
            <a href="https://www.uts.edu.au/staff/jing.jiang"> Jing Jiang</a>, 
            <a href="https://weicao1990.github.io/"> Wei Cao</a>, 
            <a href="https://scholar.google.com/citations?user=pZBEnY8AAAAJ&hl=zh-CN"> Jiang Bian</a>, 
            and 
            <a href="http://yichang-cs.com/"> Yi Chang</a>, 
            <br>
            <b>"MESA: Boost Ensemble Imbalanced Learning with MEta-SAmpler"</b>, <br>
            <i>in 34th Conference on Neural Information Processing Systems (<b>NeurIPS 2020</b>)</i>. 
            in Press. <br>
            [<a href="https://studio.slideslive.com/web_recorder/share/20201020T134559Z__NeurIPS_posters__17343__mesa-effective-ensemble-imbal?s=d3745afc-cfcf-4d60-9f34-63d3d811b55f">Video</a>]
            [<a href="https://arxiv.org/abs/2010.08830">arXiv</a>]
            [<a href="https://github.com/ZhiningLiu1998/mesa">Github</a>]<br><br>

            2. <u>Zhining Liu</u>, 
            <a href="https://weicao1990.github.io/"> Wei Cao</a>, 
            <a href="https://scholar.google.com/citations?user=uBo3SJcAAAAJ&hl=en"> Zhifeng Gao</a>, 
            <a href="https://scholar.google.com/citations?user=pZBEnY8AAAAJ&hl=zh-CN"> Jiang Bian</a>, 
            <a href="https://scholar.google.com/citations?user=EezEcbgAAAAJ&hl=en"> Hechang Chen</a>, 
            <a href="http://yichang-cs.com/"> Yi Chang</a>, 
            and 
            <a href="https://www.microsoft.com/en-us/research/people/tyliu/"> Tie-Yan Liu</a>, 
            <br>
            <b>"Self-paced Ensemble for Highly Imbalanced Massive Data Classification"</b>, <br>
            <i>in 36th IEEE International Conference on Data Engineering (<b>ICDE 2020</b>).</i> <br>
            [<a href="https://conferences.computer.org/icde/2020/pdfs/ICDE2020-5acyuqhpJ6L9P042wmjY1p/290300a841/290300a841.pdf">PDF<a>]
            [<a href="https://arxiv.org/abs/1909.03500">arXiv</a>] 
            [<a href="https://github.com/ZhiningLiu1998/self-paced-ensemble">Github</a>]<br>
          </p>
        </div>

      <h4><b>Miscellaneous</b></h4>

        <h5><i>Articles & Projects</i></h5>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          Learning unbiased classifier from class-imbalanced data: an overview (<a href="https://zhuanlan.zhihu.com/p/66373943">Chinese Article</a>)<br>
          Build powerful ensemble class-imbalanced learning models via meta-sampler. (<a href="https://github.com/ZhiningLiu1998/mesa">Github Repository</a>)
          <a href="https://github.com/ZhiningLiu1998/mesa/stargazers"><img alt="GitHub stars" src="https://img.shields.io/github/stars/ZhiningLiu1998/mesa?style=social"></a><br>
          Self-paced Ensemble for Highly Imbalanced Massive Data Classification (<a href="https://github.com/ZhiningLiu1998/self-paced-ensemble">Github Repository</a>)
          <a href="https://github.com/ZhiningLiu1998/self-paced-ensemble/stargazers"><img alt="GitHub stars" src="https://img.shields.io/github/stars/ZhiningLiu1998/self-paced-ensemble?style=social"></a><br>
          Awesome-imbalanced-learning: paper, code, frameworks, and libraries (<a href="https://github.com/ZhiningLiu1998/awesome-imbalanced-learning">Github Repository</a>)
          <a href="https://github.com/ZhiningLiu1998/awesome-imbalanced-learning/stargazers"><img alt="GitHub stars" src="https://img.shields.io/github/stars/ZhiningLiu1998/awesome-imbalanced-learning?style=social"></a><br>
          <!-- Self-paced Ensemble for class-imbalanced classification (<a href="https://zhuanlan.zhihu.com/p/86891438">Chinese Article</a>)<br> -->
          </p>
        </div>

        <h5><i>Selected Honors</i></h5>
        <div style="line-height: 1.5em; font-size: 0.7em">
          <p>
          <i>National Scholarship</i> (1/40, ¥20,000 CNY) by Ministry of Education. 2019.<br>
          <i>Undergraduate Research Scholarship</i> (20/400, ¥5,000 CNY) by Jilin University. 2018.<br>
          <i>Outstanding Student Project Scholarship</i> (2/84, ¥5,000 CNY) by Jilin University. 2018.<br>
          <i>Undergraduate Student Project Funding</i> (¥10,000 CNY) by Ministry of Education. 2018.<br>
          <i>National Endeavor Fellowship</i> (top 5%, ¥5,000 CNY) by Ministry of Education. 2017.<br>
          </p>
        </div>
        
    </div>
  </div>
</div>
