<div class="social">
	<h4>
	  <a href="https://github.com/{{ site.username_github }}"><i class="fab fa-github"></i></a>
	  <a href="https://linkedin.com/in/{{ site.username_linkedin }}"><i class="fab fa-linkedin"></i></a>
	  <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
	  <a href="https://www.zhihu.com/people/{{ site.username_zhihu }}"><img src="/static/img/zhihu-icon.svg" width="29em"></a>
	  <!-- <a href="https://twitter.com/{{ site.username }}"><i class="fab fa-twitter"></i></i></a>
		<a href="https://medium.com/@{{ site.username }}"><i class="fab fa-medium"></i></a> -->
		<!-- <a href="https://scholar.google.co.uk/citations?user={{ site.google_scholar }}"><i class="fas fa-graduation-cap"></i></a>
		<a href="https://orcid.org/{{ site.orcid }}"><i class="fas fa-info-circle"></i></a> -->
	</h4>
</div>
