<div class="social">
	<h4>
		<a href="https://github.com/{{ site.username_github }}"><i class="fab fa-github"></i></a>
		<a href="https://scholar.google.com/citations?hl=zh-CN&user=5WORAUQAAAAJ"><i class="ai ai-google-scholar"></i></a>
		<a href="https://orcid.org/0000-0003-1828-2109"><i class="ai ai-orcid"></i></a>
		<a href="https://publons.com/researcher/3121002/zhi-ning-liu"><i class="ai ai-publons"></i></a>
		<a href="https://linkedin.com/in/{{ site.username_linkedin }}"><i class="fab fa-linkedin"></i></a>
		<a href="https://www.zhihu.com/people/{{ site.username_zhihu }}/posts"><img src="/static/img/zhihu.svg" width="29em"></a>
		<!-- <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a> -->
		<!-- <a href="{{ site.baseurl }}files/Resume_ZhiningLiu.pdf"><i class="ai ai-cv"></i></a> -->
		<!-- <a href="https://orcid.org/{{ site.orcid }}"><i class="fas fa-info-circle"></i></a> -->
	</h4>
</div>
