/* Main page with stikky-footer
-------------------------------------------------- */
html,
body {
  position: relative;
  height: 100%;
  /* background-color: #fff; */
  background-color: #2c3e50;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  /* The html and body elements cannot have any padding or margin. */
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 1200px;
  padding-top: 2%;
  color: #ecf0f1;
}

a:link{color:#81cfe0;}
a:visited{color:#81cfe0;}   
a:hover{
  color:#c5eff7;
  /* background-color: #706A5E; */
} 

.page-not-found{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.avatar{
  padding-top:  15%;
  padding-bottom: 15px;
}

.social{
  word-spacing: 5px;
}

#topbar a:link {
/* color:#BDBDBD; */
color:#22a7f0;
text-decoration:none;
}
#topbar a:hover {
/* color:#000000; */
color:#22a7f0;
text-decoration:underline;
}
#topbar a:visited {
/* color:#BDBDBD; */
color:#22a7f0;
text-decoration:none;
}