/* Main page with stikky-footer
-------------------------------------------------- */
html,
body {
  position: relative;
  height: 100%;
  /* background-color: #fff; */
  background-color: #ECF5FF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  /* The html and body elements cannot have any padding or margin. */
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 1200px;
  padding-top: 5%;
  color: black;
}

.page-not-found{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.avatar{
  padding-top:  15%;
  padding-bottom: 15px;
}

.social{
  word-spacing: 5px;
}

#topbar a:link {
/* color:#BDBDBD; */
color:#ECF5FF;
text-decoration:none;
}
#topbar a:hover {
/* color:#000000; */
color:#84C1FF;
text-decoration:underline;
}
#topbar a:visited {
/* color:#BDBDBD; */
color:#ECF5FF;
text-decoration:none;
}